* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-alt: #4d4d4d;
  --bg-normal: #31363b;
  --bg-dark: #24282c;
  --plasma-blue: #3daee9;
  --hyper-blue: #3daee6;
  --fg-inactive: #bdc3c7;
  --link: #2980b9;
  --fg-negative: #da4453;
  --fg-neutral: #f67400;
  --fg-neutral-comp: #c9ce3b;
  --fg-normal: #eff0f1;
  --fg-positive: #27ae60;
  --fg-visited: #7f8c8d;
}

body {
  background-color: var(--bg-normal);
  color: var(--fg-normal);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  grid-template-rows: 60px calc(100vh - 60px);
  display: grid;
}

nav {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--bg-alt);
  background-color: var(--bg-dark);
  color: var(--fg-visited);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

#main {
  width: 100%;
  height: 100%;
  grid-template-columns: 250px 1fr 1fr;
  display: grid;
}

#side-bar, #center-pane, #right-pane {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#side-bar, #center-pane {
  border-right: 1px solid var(--bg-alt);
}

#side-bar {
  background-color: var(--bg-dark);
}

#side-bar li {
  height: 50px;
  width: calc(100% - 10px);
  color: var(--fg-visited);
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  transition: all .4s;
  display: flex;
}

#side-bar li:hover {
  background-color: var(--bg-normal);
}

.icon {
  height: 28px;
  width: 28px;
  margin: auto 20px;
}

