* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-alt: #4d4d4d;
  --bg-normal: #31363b;
  --bg-dark: #24282c;
  --bg-light: #485058;
  --bg-lighter: #626876;
  --plasma-blue: #3daee9;
  --hyper-blue: #3daee6;
  --fg-inactive: #bdc3c7;
  --link: #2980b9;
  --fg-negative: #da4453;
  --fg-neutral: #f67400;
  --fg-neutral-comp: #c9ce3b;
  --fg-normal: #eff0f1;
  --fg-positive: #27ae60;
  --fg-visited: #7f8c8d;
}

body {
  background-color: var(--bg-normal);
  color: var(--fg-normal);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  grid-template-rows: 60px calc(100vh - 60px);
  display: grid;
}

nav {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--bg-alt);
  background-color: var(--bg-dark);
  color: var(--fg-visited);
  grid-template-columns: 1fr 2fr 2fr 1fr;
  display: grid;
}

nav div {
  align-items: center;
  display: flex;
}

#logo {
  letter-spacing: 8px;
  color: var(--bg-lighter);
  padding: 0 16px;
  font-size: 24px;
}

#main {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr 3fr;
  display: grid;
}

#side-bar, #center-pane, #right-pane {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#side-bar, #center-pane {
  border-right: 1px solid var(--bg-alt);
}

#side-bar {
  background-color: var(--bg-dark);
}

#side-bar li {
  height: 44px;
  width: calc(100% - 10px);
  cursor: pointer;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  transition: all .4s;
  display: flex;
}

#side-bar li:hover {
  background-color: var(--bg-normal);
}

.icon {
  height: 24px;
  width: 24px;
  margin: auto 24px auto 12px;
}

.unicode {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
}

.flag {
  max-height: 20px;
  opacity: .6;
  border-radius: 4px;
}

.item {
  color: var(--fg-visited);
}

.dict {
  background-color: var(--bg-normal);
  border: 1px solid var(--bg-alt);
  min-width: 100%;
  border-radius: 6px;
  outline: none;
  padding: 6px 12px;
  transition: all .4s;
}

.dict::placeholder {
  color: var(--fg-visited);
}

.dict:focus {
  background-color: var(--bg-lighter);
  color: var(--bg-normal);
}

#cambridge, #rae {
  grid-template-columns: 60px 1fr 60px;
  align-content: center;
  justify-items: center;
  display: grid;
}

